.DS_Store
MinecraftForge-Changelog.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
Paulscode IBXM Library License.txt
Paulscode SoundSystem CodecIBXM License.txt
README-MinecraftForge.txt
client/
common/
fml/
forge.py
forge.pyc
forgeversion.properties
install.cmd
install.py
install.sh
mcp/CHANGELOG
mcp/LICENSE.txt
mcp/bin/
mcp/cleanup.bat
mcp/cleanup.sh
mcp/conf/
mcp/decompile.bat
mcp/decompile.sh
mcp/docs/
mcp/eclipse/
mcp/getchangedsrc.bat
mcp/getchangedsrc.sh
mcp/jars/
mcp/logs/
mcp/recompile.bat
mcp/recompile.sh
mcp/reformat.bat
mcp/reformat.sh
mcp/reobf/
mcp/reobfuscate.bat
mcp/reobfuscate.sh
mcp/reobfuscate_srg.bat
mcp/reobfuscate_srg.sh
mcp/runtime/
mcp/src/minecraft/Start.java
mcp/src/minecraft/assets/
mcp/src/minecraft/cpw/
mcp/src/minecraft/deobfuscation_data-1.6.4.lzma
mcp/src/minecraft/fml_at.cfg
mcp/src/minecraft/fml_marker.cfg
mcp/src/minecraft/fmlversion.properties
mcp/src/minecraft/forge_at.cfg
mcp/src/minecraft/forge_logo.png
mcp/src/minecraft/ibxm/
mcp/src/minecraft/mcpmod.info
mcp/src/minecraft/net/
mcp/src/minecraft/paulscode/
mcp/startclient.bat
mcp/startclient.sh
mcp/startserver.bat
mcp/startserver.sh
mcp/temp/
mcp/updateids.bat
mcp/updateids.sh
mcp/updatemcp.bat
mcp/updatemcp.sh
mcp/updatemd5.bat
mcp/updatemd5.sh
mcp/updatenames.bat
mcp/updatenames.sh
patches/
