.DS_Store
.classpath
.gradle/
.project
.settings/
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Changelog.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
README-MinecraftForge.txt
README.txt
bin/
build/
common/
eclipse/
forge-1.7.2-10.12.1.1060-changelog.txt
gradle/
gradlew
gradlew.bat
.idea/
*.iml
